@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mabry Pro";
  src: url("$lib/fonts/Mabry-Pro.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("$lib/fonts/Mabry-Pro-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("$lib/fonts/Mabry-Pro-Light.otf");
  font-weight: 300;
  font-style: normal;
} 

@font-face {
  font-family: "Mabry Pro";
  src: url("$lib/fonts/Mabry-Pro-Light-Italic.otf");
  font-weight: 300;
  font-style: italic;
} 
 
@font-face {
  font-family: "Mabry Pro";
  src: url("$lib/fonts/Mabry-Pro-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("$lib/fonts/Mabry-Pro-Medium-Italic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("$lib/fonts/Mabry-Pro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("$lib/fonts/Mabry-Pro-Bold-Italic.otf");
  font-weight: 700;
  font-style: italic;
}